@use "variable" as *;
@use "svg" as *;
.containerAppeal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 2em 3em;
    background-color: #f4f5f7;
    @include sp {
        padding: 6vw 4vw;
    }
    h2,
    h3 {
        font-size: FZ(32);
        letter-spacing: 0.12em;
        @include sp {
            font-size: FZ(24);
        }
    }
    .slideH2 {
        opacity: 0;
        translate: 95%;
        transition: 1s cubic-bezier(0, 0.55, 0.45, 1);
        &.is-active {
            opacity: 1;
            translate: 0;
        }
    }
    article {
        max-width: $articleMaxWidth;
        display: flex;
        flex-direction: column;
        .headText {
            position: relative;
            align-self: flex-end;
            font-size: inherit;
            margin-top: 0.5em;
            min-height: 5em;
            opacity: 0;
            translate: 99%;
            transition: 1s cubic-bezier(0, 0.55, 0.45, 1);
            &.is-active {
                opacity: 1;
                translate: 0;
            }
            p {
                margin-top: 1.6em;
                font-size: FZ(16);
                letter-spacing: 0.08em;
                line-height: 1.8em;
            }
        }
    }
    .blockNotice {
        padding: 1em;
        margin-bottom: 2em;
        @include sp {
            padding: 2vw 0;
            margin-bottom: 4vw;
        }
        .innerBlock {
            background-color: $baseBrown;
            color: #fff;
            font-size: inherit;
            display: flex;
            flex-direction: column;
            border-radius: 6px;
            padding: 2em 3em;
            @include sp {
                padding: 6vw 4vw;
            }
            h4 {
                font-size: FZ(28);
                align-self: center;
                letter-spacing: 0.04em;
                @include sp {
                    font-size: FZ(26);
                }
            }
            p {
                font-size: FZ(16);
                letter-spacing: 0.04em;
                line-height: 1.6em;
                margin-top: 1em;
                text-align: justify;
            }
        }
    }
    .blockDetails {
        margin-top: 3em;
        opacity: 0;
        transition: 1s cubic-bezier(0, 0.55, 0.45, 1) 0.2s;
        transform: translateX(90%);
        &.is-active {
            opacity: 1;
            transform: translateX(0);
        }
        h3 {
            font-size: FZ(20);
        }
        dl {
            width: 100%;
            display: grid;
            grid-template-columns: auto 1fr;
            font-size: inherit;
            margin-top: 0.2em;
            & > div {
                grid-column: span 2;
                display: grid;
                grid-template-columns: subgrid;
                border-bottom: 1px solid $baseBlack;
                font-size: inherit;
                gap: 0 8em;
                padding-block: 1em;
                @include sp {
                    grid-template-columns: unset;
                    grid-auto-flow: row;
                }
                &:first-of-type {
                    border-top: 1px solid $baseBlack;
                }
                dt {
                    font-size: FZ(14);
                    letter-spacing: 0.12em;
                    padding-left: 1em;
                    @include sp {
                        font-size: FZ(18);
                    }
                }
                dd {
                    font-size: FZ(14);
                    display: flex;
                    flex-direction: column;
                    letter-spacing: 0.12em;
                    @include sp {
                        padding-left: 1em;
                        font-size: FZ(16);
                        margin-top: 2vw;
                    }
                    h4 {
                        font-size: inherit;
                        letter-spacing: inherit;
                    }
                    p {
                        letter-spacing: inherit;
                        font-size: inherit;
                        line-height: 2em;
                    }
                }
            }
        }
    }
}
