@use "variable" as *;
@use "svg" as *;

.containerImage {
    article {
        .wrapText {
            position: absolute;
            font-size: inherit;
            top: 5em;
            left: 5em;
            color: #fff;
            writing-mode: vertical-rl;
            z-index: 1;
            @include sp {
                writing-mode: unset;
                top: 4vw;
                left: 4vw;
            }
            p {
                font-size: FZ(30);
                line-height: 1.6em;
                letter-spacing: 0.12em;
            }
        }
        .fallbackWrapper {
            display: none;
            @include sp {
                display: block;
                aspect-ratio: 40/44;
            }
        }
        video {
            aspect-ratio: 16/9;
            width: 100%;
            max-height: 80rem;
            object-fit: cover;
            object-position: left center;
        }
    }
}
