@use "variable" as *;
@use "svg" as *;
@use "sass:color";
.containerFooter {
    padding-inline: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    color: #fff;
    @include SunSerif;
    padding: 3em 2em 0.5em;
    gap: 2em 0;
    @include sp {
        padding: 6vw 4vw 2vw;
    }
    article {
        max-width: $articleMaxWidth;
        padding-inline: 2em;
        display: flex;
        justify-content: space-between;
        @include sp {
            flex-direction: column;
            padding-inline: unset;
        }
        .boxShopInfo {
            font-size: inherit;
            display: flex;
            flex-direction: column;
            gap: 0.3em 0;
            .shopName {
                @include grecoStd;
                font-size: FZ(24);
                margin-bottom: 0.2em;
                span {
                    font-size: 0.75em;
                }
            }
            address {
                font-size: FZ(14);
                letter-spacing: 0.08em;
            }
            a {
                font-size: FZ(14);
                letter-spacing: 0.08em;
                &::before {
                    content: "TEL";
                    margin-right: 0.8em;
                }
            }
            .wrapTime {
                display: flex;
                align-items: center;
                font-size: FZ(14);
                time {
                    letter-spacing: 0.08em;
                    &:first-of-type {
                        margin-left: 0.2em;
                        &::after {
                            content: "〜";
                            margin-inline: 0.1em;
                        }
                    }
                }
            }
            p {
                font-size: FZ(14);
                letter-spacing: 0.08em;
                line-height: 1.5em;
            }
        }
        .linkLogo {
            max-width: 20rem;
            transition: 0.3s ease-out;
            @include sp {
                width: 30vw;
                align-self: flex-end;
                margin-top: 10vw;
            }
            @include pc {
                @include hover {
                    opacity: 0.4;
                }
            }
        }
    }
    .copyright {
        font-size: 1.1rem;
        letter-spacing: 0.08em;
    }
}
